<div class="container d-flex flex-column align-items-center justify-content-center" data-controller="routine-creator">
    <h1>Your Routines</h1>
    <button class="btn btn-primary" data-action="click->routine-creator#displayForm">create new routine</button>
        <% @routines.each do |routine| %>
            <%= link_to routine.title, routine_path(routine) %>
        <% end %>
</div>