<div class="container">
  <!-- Page Banner -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path("squat_pose.png") %>);">
  
<%= @routine.messages.last.content.html_safe %>

</div>


<!-- need to fix the code below -->
<!-- <%#= link_to "Edit", edit_routine_path(@routine), class: "btn btn-warning" %> -->
<!-- <%#= link_to "Create a new routine", new_routine_path, class: "btn btn-warning" %> -->
