<div class="container-fluid m-auto3 d-flex flex-column justify-content-center align-items-center" style="background-image: url('https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg');
background-size: cover;
background-position: center;
height: 90vh;">
    <div style="padding: 30px 20px 0px 20px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
        <h1 class="text-center mb-4 text-white">Routine.Ai</h1>
        <h2 class="text-center mb-5 text-white">Create a fitness routine anywhere, anytime.</h2>
    </div>
</div>
