<div class="container-fluid m-auto3 d-flex flex-column justify-content-center align-items-center" style="background-image: url('https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg');
background-size: cover;
background-position: center;
height: 90vh;">
<h1 class="text-center mb-4 text-white">Routine.Ai</h1>
<h2 class="text-center mb-5 text-white">Create a fitness routine anywhere, anytime.</h2>

<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>